<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>e-RPS Universitas Andalas </title>
    <!-- Favicon icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon.png" />
    <!-- Custom Stylesheet -->
    <link href="/public/css/style.css" rel="stylesheet" />
  </head>

  

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <div class="brand-logo">
          <a href="admin_dashboard.html">
            <b class="logo-abbr"><img src="/public/images/logo.png" alt="" /> </b>
            <span class="logo-compact"><img src="/public/images/logo-compact.png" alt="" /></span>
            <span class="brand-title">
              <img src="/public/images/logo-text.png" alt="" />
            </span>
          </a>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div class="header">
        <div class="header-content clearfix">
          <div class="nav-control">
            <div class="hamburger">
              <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
          </div>

          <div class="header-right">
            <ul class="clearfix">
              <li class="icons dropdown">
                <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                  <span class="activity active"></span>
                  <img src="/public/images/user/1.png" height="40" width="40" alt="" />
                </div>
                <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                  <div class="dropdown-content-body">
                    <ul>
                      <li>
                        <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                      </li>

                      <hr class="my-2" />
                      <li>
                        <a href="login.html"><i class="icon-key"></i> <span>Logout</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="nk-sidebar">
        <div class="nk-nav-scroll">
          <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
              <a href="dashboard_admin.html"> <i class="fa fa-home fa-2x"></i><span class="nav-text">Home</span> </a>
            </li>
            <li>
              <a class="has-arrow" href="javascript:void()" aria-expanded="false"> <i class="fa fa-file-text fa-5x" ></i><span class="nav-text">RPS</span> </a>
              <ul aria-expanded="false">
                <li><a href="admin_daftar rps.html">Daftar RPS</a></li>
                <!-- <li><a href="./index-2.html">Home 2</a></li> -->
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <div class="container-fluid mt-6">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Selamat Datang Admin!</h3>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
          <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Kelompok 5</a> 2022</p>
          </div>
        </div>
      <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/public/plugins/common/common.min.js"></script>
    <script src="/public/js/custom.min.js"></script>
    <script src="/public/js/settings.js"></script>
    <script src="/public/js/gleek.js"></script>
    <script src="/public/js/styleSwitcher.js"></script>

    <script src="/public/js/dashboard/dashboard-1.js"></script>
</html>
